.page-admin-config-joc-joc-ads #edit-google-ad-zones input.form-text {
  width: 100%;
}
.region-above-header .block-joc-ads div[id*="ad_container"] > iframe:first-child {
  display: none;
}
.region-above-header .block-joc-ads div[id*="dclk_banner"] >  div[id*="dclk_expand"] {
  padding-left: 38px;
}
.not-front #header object#dcbanner {
  top: 0 !important;
}
.not-front #header object#dcexpbanner {
  left: 0 !important;
}
