.google-search-pager .pager-item,
.google-search-pager .pager-ellipsis {
	display: none !important;
}

.container-inline-date .date-padding {
	padding: 0px;
}

.form-inline .form-item-order,
.form-inline .form-item-range,
.form-inline .container-inline-date, 
.form-inline .form-item-results, 
.form-inline .form-item-category {
  float: left;
  margin-right: 2px;
}

.form-inline .form-item-filters-text {
    clear: both;
    font-weight: bold;
    margin-bottom: 0px;
}

.form-inline .form-item-from,
.form-inline .form-item-till,
.form-inline .form-item-category {
    display: none;
}

#edit-sortsubmit{
	margin: 2.6em 0;
}
.container-inline-date {
 clear: none;
 margin: 1.5em 0;
}

.container-inline-date .form-item input,
.container-inline-date > .form-item {
margin-right: 0;
}

.google-search-results,
.searchhead {
	clear:both;
}