<%= form_for(@project_billing) do |f| %>
  <%= hidden_field_tag :project_id, @project_billing.project.identifier %>
  
  <table>
    <thead>
      <th>Member</th>
      <th>Price of units</th>
    </thead>
    <tbody>
      <% @project_billing.project_user_prices.each do |billing_user| %>
      <tr>
        <td><%= link_to "#{billing_user.user.firstname} #{billing_user.user.lastname}", billing_user.user %></td>
        <td><%= price_user_field billing_user.user.id, billing_user.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
