<h1>Rates Listing</h1>
<% if @project_billings %>
<table>
  <thead>
    <th>Developer</th>
    <th>Rate</th>
  </thead>
  <tbody>
    <% @project_billings.project_user_prices.each do |billing_user| %>
    <tr>
      <td><%= link_to "#{billing_user.user.firstname} #{billing_user.user.lastname}", billing_user.user %></td>
      <td><%=  billing_user.price %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_project_billing_path(@project_billings) %>
<% else %>
<%= link_to 'New', new_project_billing_path(:project_id => @project.identifier) %>

<% end %>
