tr.job-active td, tr.odd.job-active td {
    color: black
}

tr.job-active2 td, tr.odd.job-active2 td {
    color: #000099
}

tr.job-success td, tr.odd.job-success td {
    color: #009900
}

tr.job-fail td, .tr.odd.job-fail td {
    color: #990000
}

tr.job-fatal td , tr.odd.job-fatal td{
    color: #dd0000;
}

.job-disabled {
    color: #999999
}

