<template>
  <div class="form-input form-input-bordered px-0 overflow-hidden">
    <textarea ref="theTextarea" />
  </div>
</template>

<script>
import CodeMirror from "codemirror";

// Modes, Addons
import "codemirror/mode/javascript/javascript";
import "codemirror/mode/php/php";
import "codemirror/addon/lint/lint";
import "codemirror/addon/lint/json-lint";

CodeMirror.defineMode("htmltwig", function(config, parserConfig) {
  return CodeMirror.overlayMode(
    CodeMirror.getMode(config, parserConfig.backdrop || "text/html"),
    CodeMirror.getMode(config, "twig")
  );
});

export default {
  data() {
    return {
      codemirror: null,
    };
  },
  mounted() {
    const config = {
      ...{
        tabSize: 4,
        indentWithTabs: true,
        lineWrapping: true,
        lineNumbers: true,
        theme: "dracula",
        viewportMargin: Infinity,
        readOnly: false,
        mode: "application/json"
      }
    };

    this.codemirror = CodeMirror.fromTextArea(this.$refs.theTextarea, config);
    let doc = this.codemirror.getDoc();
    doc.on("change", (cm, changeObj) => {
      this.value = cm.getValue();
      this.$root.$emit("inverseEditPortData", this.value);
    });

    this.$root.$on("setValuePortEditor", function(data) {
      doc.setValue(data);
    });
  },
  // computed: {
  //   doc() {
  //     return this.codemirror.getDoc();
  //   }
  // }
};
</script>