<template>
    <div class="start-screen-wrapper">
        <welcome-hub 
            main-title="Add Line" 
            main-desc="You can add additional lines to your account at any time."></welcome-hub>
    </div>
</template>

<script>
    import WelcomeHub from './WelcomeHub';
    export default {
        name: "NewLine",
        components: { WelcomeHub },
    }
</script>

<style lang="scss" scoped>
    .minus-margin-top {
        margin-top: -4.5rem;
    }
    
    .choose-plan-dialog-wrapper {
        max-width: 45rem;
    }
</style>
