<template>
    <div>
        <div v-if="step !== 1 && step !== 3" class="pwd-back-button-wrapper dialog-wrapper" :class="{ 'minus-margin-top': step !== 1, 'choose-plan-dialog-wrapper': step === 3 }">
            <a class="pwd-back-button" @click.prevent="goToNext(false)" href="#">
                <img src="../../../../images/back-arrow.svg" alt="Back">
                Back
            </a>
        </div>

        <first-step v-if="step === 1"></first-step>

        <second-step v-if="step === 2" :is4g="this.is4G"></second-step>

        <third-step v-if="step === 3" :go="go"></third-step>

        <fourth-step v-if="step === 4"
                     :esn="this.esn"
                     :is4g="this.is4G"
                     :selected-plan="this.selected"
                     :hasDetailedProblem="hasDetailedProblem"
                     :requestLoading="requestLoading"
                     :newNumber="newNumber"
                     :country="country"
                     :detailedProblem="detailedProblem"
                     :cardData="cardData"
                     :portInData="portInData"
                     :customerData="customerData">
        </fourth-step>
    </div>
</template>

<script>

    import FirstStep from './steps/FirstStep';
    import SecondStep from './steps/SecondStep';
    import ThirdStep from './steps/ThirdStep';
    import FourthStep from './steps/FourthStep';
    
    import Client from '../../../modules/http-custom';

    export default {
        name: "WelcomeHub",
        props: ['mainTitle', 'mainDesc'],
        components: { 
           FirstStep, 
           SecondStep, 
           ThirdStep, 
           FourthStep, 
        },
        data() {
            return {
                title: 'User settings',
                country: [],
                answer: [
                    {
                        label: 'YES', value: true
                    },
                    {
                        label: 'NO', value: false
                    }
                ],
                step: 1,
                steps: 4,
                newNumber: false,
                currentUserNetwork: null,

                // Check device
                is4G: true,
                loadStatus: false,
                hasError: false,
                hasDetailedProblem: false,
                detailedProblem: 'Please, check fields and try again.',

                // Choose plan
                planType: '',
                selected: {
                    id: undefined
                },
                month: false,
                go: false,
                esn: '',
                loading: true,
                requestLoading: false,
                customerData: {},
                portInData: {},
                cardData: {},
            }
        },

        watch: {
            requestLoading: function () {
                this.$root.eventHub.$emit('requestLoadingChanged', this.requestLoading);
            },

            hasDetailedProblem: function () {
                this.$root.eventHub.$emit('detailedProblemChanged', {
                    hasProblem: this.hasDetailedProblem,
                    message: this.detailedProblem,
                });
            },
        },

        mounted() {
            let _this = this;

            this.getCountryList();
            this.currentUserNetwork = this.$root.rootUserNetwork;

            this.$root.eventHub.$on('esnChanged', function (value) {
                _this.esn = value;
            });

            this.$root.eventHub.$on('loadStatusChanged', function (value) {
                _this.loadStatus = value;
            });

            this.$root.eventHub.$on('errorStateChanged', function (value) {
                _this.hasError = value;
            });

            this.$root.eventHub.$on('selectedPlanChanged', function (value) {
                _this.selected = value;
            });

            this.$root.eventHub.$on('customerDataChanged', function (value) {
                _this.customerData = value;
            });

            this.$root.eventHub.$on('portInDataChanged', function (value) {
                _this.portInData = value;
            });

            this.$root.eventHub.$on('cardDataChanged', function (value) {
                _this.cardDataData = value;
            });

            this.$root.eventHub.$on('welcomeLoadingChanged', function (value) {
                if (_this.loading !== value) {
                    _this.loading = value;
                }
            });
        },

        methods: {
            getCountryList() {
                Client.call('resource/country')
                    .then(response => {
                        if (response.data.status) {
                            this.country = response.data.data
                        } else {
                            throw new Error(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.country = [];
                        this.errorHandler(error);
                    });
            },

            goToNext(direction = true) {
                if (this.step === 1 && !direction) {
                    this.step = 1;
                    return true;
                }

                if (this.step === this.steps && direction) {
                    this.step = this.steps;
                    return true;
                }

                this.step += direction ? 1 : -1;
            },

            setNumberStatus(status) {
                this.newNumber = status;
            },

            showDone(e) {
                e.preventDefault();
                this.month = false;
                this.go = false;
                this.goToNext();
            },

            errorHandler(error) {
                this.hideDetailedProblem();
                if (error.response) {
                    if (error.response.data.status === false) {
                        this.$root.eventHub.$emit('showNotify', {
                            group: 'error',
                            title: 'Error',
                            text: error.response.data.message
                        });
                        this.showDetailedProblem(error.response.data.detailed);
                    }
                } else if (error.request) {
                    console.error(error);
                }
            },

            showDetailedProblem(message) {
                if (message.length > 0) {
                    this.hasDetailedProblem = true;
                    this.detailedProblem = message;
                } else {
                    this.hasDetailedProblem = true;
                }
            },

            hideDetailedProblem() {
                this.hasDetailedProblem = false;
                this.detailedProblem = 'Please, check fields and try again.';
            },
        },

        provide() {
            return {
                goToNext: this.goToNext,
                setNumberStatus: this.setNumberStatus,
                showDone: this.showDone,
                errorHandler: this.errorHandler,
            }
        }
    }
</script>
