<template>
    <div class="start-screen-wrapper">
        <welcome-hub main-title="Hmm, we can’t find you." main-desc="We can’t locate you in our system. Please select an option below to finish activating your account."></welcome-hub>
    </div>
</template>

<script>
    import WelcomeHub from './WelcomeHub';
    export default {
        components: { WelcomeHub },
    }
</script>

<style lang="scss" scoped>
    .minus-margin-top {
        margin-top: -4.5rem;
    }

    .choose-plan-dialog-wrapper {
        max-width: 45rem;
    }
</style>
