.page-property .details-agent,.page-property .description-agent,
.page-property .language-agent,
.page-property .details-office
{
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    min-height: 100%;
    padding: 20px 12px;
    overflow: auto;
    margin-bottom: 10px;
}
.page-property .description-agent,.page-property .language-agent{
    padding:0;
}
.page-property #tabs #tabs-3 .language-agent ul{
    padding-left: 25px;
}
.page-property .description-agent p{
    margin-left: 10px;
}
.page-property .details-agent .name,
.page-property .details-office .name
{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.page-property .details-agent .all-list{
    color: #4D6B95;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;    
}
.page-property .details-agent .adress label, 
.page-property .details-agent span,
.page-property .details-office .adress label,
.page-property .details-office span{
    margin-top: 10px;
    display: block;
}
.page-property .details-agent .agent-photo,
.page-property .details-office .office-image{
    width: 200px;
    height: 290px;
    background-color: gainsboro;   
    float: left;
    margin-right: 30px;
}
.page-property .details-office .adress label,
.page-property .details-agent .adress label{
    margin-bottom: 10px; 
}
.page-property .details-agent .phone label,
.page-property .details-agent .mobile label,
.page-property .details-office .phone label,
.page-property .details-office .fax label{     
    float: left;
}


.page-property .details-agent .phone, 
.page-property .details-agent .mobile,
.page-property .details-office .phone,
.page-property .details-office .fax{
    margin-top: 10px;
}
.page-property .details-office .property-info {
    margin-top: -115px !important;
}
.page-property .property-info
{
    background-clip: padding-box;
    background-color: #F0F0F0;
    border: 1px solid #D4D4D4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #CCCCCC;
    clear: right;
    float: right;
    margin-top: -145px;
    margin-right: 30px;
    padding: 8px;
    width: 350px;
}
.page-property .property-info .photo{
    width: 100px;
    height: 75px;
    float: left;
    margin-right: 8px;
    background-color: yellowgreen;
    margin-top: 0;
}
.page-property .property-info .sale-status label,
.page-property .property-info .price label,
.page-property .property-info .location label
{
    float: left;
    width: 100px;    
}
.page-property .property-info div
{
    margin-top: 10px;
}
.page-property .detail-sub-container div {
    margin-left: 30px;
}
.page-property .detail-sub-container .share{
    display: inline;
}
.page-property .detail-sub-container .share a{
    color: #30517F;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.page-property .detail-sub-container .share a:hover{
    color: #CF7C0C;
    transition: all 0.3s ease-out 0s;
}
.page-property .detail-sub-container .share a:before{
      color: #CF7C0C;
    content: "+";
    left: -3px;
    position: relative;
    top: -1px;
}
.page-property-detail{
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    width: 987px;
}
.page-property .property-title h1{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-left: 40px;
    margin-top: 0;
    text-align: left;
}
.page-property .propertyDetailContent
{
    margin-bottom: 20px;
    background-clip: padding-box;
    background-color: #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    position: relative;
    width: 947px;
    padding: 10px 15px;
    font-size: 12px;
    font-family: sans-serif;
}
.page-property #tabs-1 .propertyDetailContent .details-container{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px 10px;    
}

.page-property .propertyDetailContent .details-container .buero{
    font-style: italic;   

}
.page-property .propertyDetailContent .second-string{
    margin-top: 8px;
}
.page-property .propertyDetailContent .details-container .intern{
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    display: block;
}
.page-property .propertyDetailContent .details-container .price{
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    display: block;
}
.page-property .propertyDetailContent .details-container .info{
    margin-top: 8px;
    font-size: 14px;
}
.page-property .propertyDetailContent .details-container .info span{
    font-weight: bold;
}
.page-property .propertyDetailContent .left-column{
    width: 516px;
    float: left;
}
.page-property .propertyDetailContent .details-container .view-map:after, 
.page-property .propertyDetailContent .detail-sub-container .view-map:after{
    content: url("http://edge.coldwellbanker.com/images/global/icon-goldarrow.png");
    position: absolute;
    right: -9px;
    top: 0;
    z-index: 0;
}
.page-property .propertyDetailContent .details-container .view-map,
.page-property .propertyDetailContent .detail-sub-container .view-map
{    
    color: #30517F;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    margin-top: 7px;
    cursor: pointer;
}
.page-property .propertyDetailContent  .view-map:hover,
.page-property .detail-sub-container  .view-map:hover
{
    color:#cf7c0c;
    transition: all 0.3s ease-out 0s;
}
.page-property .map .view-map{
    color: #4D6B95;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-left: 12px;
    padding-right: 5px;
    cursor: pointer;
}
.page-property .propertyDetailContent .details-container  .website-url:after {
    content: url("http://edge.coldwellbanker.com/images/global/icon-goldarrow.png");
    position: absolute;
    right: -9px;
    top: 0;
    z-index: 0;
}
.page-property .propertyDetailContent .details-container  .website-url{
    color: #CF7C0C;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.page-property .propertyDetailContent .photo-container{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;    
    padding: 5px 20px;
    width: 425px;
    height: 425px;
    float: left;    
}
.page-property .propertyDetailContent .photo-container .detailTitleDivider{
    margin-top: -85px;
    position: relative;
}
.page-property .propertyDetailContent .contact-column{
    float: right;  
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 2px solid #5982A2;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 8px;
    min-height: 100%;
    width: 466px;
    min-height: 432px;
    margin-left: 10px;
}
.page-property .propertyDetailContent .details-container  .right-column div{
    margin-top: 8px;
}
.page-property .propertyDetailContent .details-container  .right-column  label{
    float: left;
    width: 80px;
}
.page-property .propertyDetailContent .contact-column h2{
    color: black;
    display: inline-block;   
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0 0 19px;
    padding: 0;
}
.page-property .propertyDetailContent .contact-column .name{
    color: #4D6B95;
    font-weight: bold;
}
.page-property .propertyDetailContent .contact-column .contact-info label
{
    float: left;
    font-weight: bold;  
    margin-right: 15px;
    width: 80px;
}

.page-property #map{
    height: 550px;
    margin: 15px 0;
    width: 945px;
    border-radius: 5px 5px 5px 5px;
}

.page-property .left-sidebar
{

    margin-bottom: 10px;
    width: 467px;
}
.page-property .left-sidebar .description-container{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;    
    padding: 5px 0px;

}
.page-property .left-sidebar .border{
    margin-bottom: 10px;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    min-height: 100%;    
}
.page-property .image-and-agent{
    overflow: auto;
}
.page-property .detail-title{

    margin: 15px 0 5px 12px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.page-property  .description-container #about-label{
    margin-bottom: 10px;
    margin-top: 0;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}
.page-property .description-container .text{
    margin-bottom: 8px;
    margin-left: 12px;
    width: 420px;
}
.page-property .right-sidebar .map{
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px; 
    width: 470px;
    height: 236px;
}
.page-property .right-sidebar #small-map{
    background-clip: padding-box;
    background-color: white;   
    border-radius: 5px 5px 5px 5px;
    height: 196px;
    margin-bottom: 5px;
}
.page-property .right-sidebar {
    float: right;
}
.page-property .left-sidebar {
    float: left;
}
.page-property .contact-column .photo {
    float: left;
    height: 100px;
    width: 80px;
    background-color: burlywood;
     margin: 0 15px 0 20px;
}
.page-property .contact-info {
    margin-left: 20px;
    height: 122px;
}
.page-property .contact-info div{
    margin: 3px 0px;
}
.page-property .features-container{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;    
    padding: 5px 0px;
}
.page-property .features-container strong{
    display: block;  
    margin-left: 10px;
}
.page-property .features-container .text
{
    margin-bottom: 8px;
    margin-left: 12px;
    width: 420px;
}
.page-property .detail-sub-container{
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    min-height: 33px;
    margin-bottom: 10px;
}
#tabs-3 .contact
{
    color: #FFFFFF;  
    float: left;
    background: linear-gradient(to bottom, #FEC129, #EF9800) repeat scroll 0 0 #F7AD15;
    border: 1px solid #DC9B4A;
    border-radius: 3px 3px 3px 3px;
    margin-right: 10px;
    margin-top: 3px;
    margin-top: 10px;
    background-color: rgb(247, 173, 21); 
}
#tabs-3 .contact a{  
    color: #FFFFFF;    
    font: bold 12px/100% Arial,Helvetica,sans-serif;
    padding: 6px 8px 5px;    
    text-shadow: 0 1px 1px #666666;
    text-decoration: none;
}