.agent-main-info, .estate-info {
    font-family: 'Cabin',sans-serif;
    color: #222;
}

a {
    font-family: 'Cabin',sans-serif;
    color: #036;
}

a:hover, a span {
    color: #8a6210;
}

.agent-main-info {
    min-height: 204px;
    margin-bottom: 30px;
}

.agent-main-info label {
    display: inline-block;
    font-weight: 100;
    margin-right: 5px;
}

.agent-photo {
    width: 160px;
    height: 204px;
    margin-right: 20px;
    float: left;
}

.agent-name {
    color: #8a6210;
    font-size: 20px;
    margin: 0;
}

.agent-function {
    margin-bottom: 10px;
    font-size: 14px;
}

.providers-office {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.providers-street, .providers-postalcode, .providers-city, .providers-phone, .providers-mobilephone {
    font-size: 14px;
}

.providers-city {
    margin-bottom: 10px;
}

.providers-phone, .providers-mobilephone {
    display: inline-block;
    width: auto;
}

.agent-details {
    background-color: #e8ecf2;
    display: inline-block;
}

.agent-description {
    background: white;
    float: right;
    width: 614px;
    padding: 18px;
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
}

.agent-description label {
    margin: 0 0 8px 0;
    color: #8a6210;
    font-size: 16px;
}

.agent-links {
    background-color: #e8ecf2;
    min-height: 35px;
    margin-bottom: 18px;
    display: inline-block;
     padding: 0 20px;
}

.estate-info {
    float: left;
    width: 231px;
    padding: 18px;
    background-color: #e8ecf2;
}

.description, .knowledge, .credentials {
     margin-bottom: 13px;
}

.top-link {
    font-size: 12px;
    font-weight: bold;
    display: block;
    float: right;
    margin-top: 10px;
}

.estate-info label {
    font-weight: 100;
    float: left;
    margin-right: 5px;
}

.internal {
    margin: 15px 0;
}

.agent-estate-objects {
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
    display: inline-block;
    margin: 6px 5px;
}

h1 {
    display: none;
}

.contact-link {
     display: inline-block;
     margin-left: 20px;
}

.contact-link a {  
    background-image: linear-gradient(bottom,#bd8a24 0,#c4a04b 50%,#dbb858 51%,#dac389 100%);
    background-image: -o-linear-gradient(bottom,#bd8a24 0,#c4a04b 50%,#dbb858 51%,#dac389 100%);
    background-image: -moz-linear-gradient(bottom,#bd8a24 0,#c4a04b 50%,#dbb858 51%,#dac389 100%);
    background-image: -webkit-linear-gradient(bottom,#bd8a24 0,#c4a04b 50%,#dbb858 51%,#dac389 100%);
    background-image: -ms-linear-gradient(bottom,#bd8a24 0,#c4a04b 50%,#dbb858 51%,#dac389 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#bd8a24),color-stop(0.5,#c4a04b),color-stop(0.51,#dbb858),color-stop(1,#dac389));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddca93',endColorstr='#bb8a25');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddca93',endColorstr='#bb8a25');
    border: 2px solid #ccb55a;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 14px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    font-size: 15px;
}