.object-wrapper {
    background-color: #e8ecf2;
    display: inline-block;
    margin-top: 14px;
}

.agent-details {
    float: left;
    width: 231px;
    padding: 18px;
    font-family: 'Cabin',sans-serif;
    line-height: 1.231;
    font-size: 14px;
    color: #333;
}

.agent-details label {
    display: inline-block;
    width: 60px;
}

.agent-details .agent-sort, .agent-details .agent-name{
    margin-bottom: 8px;
}

.agent-details .agent-sort {
    color: #8a6210;
    font-weight: 500;
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
}

.agent-details .agent-name a{
    color: #036;
    font-size: 15px;
    font-weight: bold;
}

.agent-details .agent-name a:hover {
    color: #8a6210;
    text-shadow: 0 1px 1px #fff,0 -1px 1px #fff;
}

.agent-details .desk {
    font-size: 15px;
    font-weight: bold;
}

.agent-details .phone {
    margin-top: 10px;
}

.property-details {
    float: right;
    width: 641px;
    padding: 13px 0 0 18px;
    min-height: 700px;
    line-height: 1.231;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    color: #222;
    background: white;
}

.property-details label {
    display: inline-block;
    font-weight: 100;
    margin-right: 5px;
}

.property-details .internal, .property-details .place, .property-details .cost,
.property-details .room, .property-details .live-area {
    font-size: 16px;
    color: #333;
    font-family: 'Cabin',sans-serif;
}

.property-details .cost {
    margin: 8px 0;
}

.property-details .room label {
    text-transform: lowercase;
}

.property-details .live-area label, .property-details .room label {
    margin-left: 5px;
}

.property-details .desc {
    margin-top: 26px;
}

.property-details .equipment, .property-details .location, .property-details .features {
    margin-top: 10px;
}

.property-details .features {
    padding-bottom: 26px;
    margin-bottom: 36px;
    border-bottom: 1px dotted #999;
}

.property-details .features-label{
    color: #8a6210;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
}

.property-details .feature label {
    display: inline-block;
    width: 170px;
    font-weight: bold;
    margin: 5px 0;
}

.property-details .feature div {
    display: inline-block;
}

.property-details #gmap {
    width: 641px;
    height: 460px;
}

/* Bootstrap Css Map Fix*/
#gmap img { 
    max-width: none;
}

/* Bootstrap Css Map Fix*/
#gmap label { 
    width: auto;
    display:inline; 
}

.carousel .slide{

}

.bx-pager {display: none;}

.bx-viewport {
    padding: 0 269px 0 270px;
    margin-left: -19px;
}

.bx-next,.bx-prev {
    font-size: 50px;
    color: #ffc720;
    text-decoration: none;
    display: inline-block;
    padding: 132px 10px;
background-color: rgba(0, 64, 121, 0.7);
}

.bx-controls-direction {
    position: relative;
width: 926px;
}

.bx-next {
    position: absolute;
right: -19px;
top: -288px;
}

.bx-prev {
    position: absolute;
left: -19px;
top: -288px;
}

.bx-next:hover, .bx-prev:hover {
    -moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
-webkit-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
transition: all .3s ease-out;
text-shadow: 0 1px 1px #fff,0 -1px 1px #fff;
}

h1 {
    display: none;
}