.view-templates table tr th,
.view-templates table tr td {
  padding: 10px;
}

.view-templates table tr th,
.view-templates table tbody tr td {
  text-align: right;
}

.view-templates table tbody tr td:nth-child(1) {
  text-align: left;
}

.view-templates tr.even {
  background-color: #fff;
}

.view-templates .text-danger {
  color: #af2b2b;
}

.view-templates .text-success {
  color: #52b223;
}

.view-template-charts {
  border: 1px solid #ccc;
  padding: 0px 15px 15px 0;
}

.view-template-charts > .attachment > .view-template-charts {
  border: 0px;
}

.views-field-field-unit {
  padding-left: 50px;
}

.views-field-field-data-source {
  float: right;
  padding-right: 15px;
}

.page-taxonomy-term.section-dashboards .view-dashboards-categories .views-row  img,
.page-taxonomy-term.section-market-data .view-dashboards-categories .views-row  img {
    width: 100%;
}

.section-dashboards.page-taxonomy-term .row-center .center-left,
.section-market-data.page-taxonomy-term .row-center .center-left {
    width: 100% !important;
}

.page-taxonomy-term.section-dashboards .pane-dashboards-categories,
.page-taxonomy-term.section-dashboards #page-title,
.page-taxonomy-term.section-market-data .pane-dashboards-categories,
.page-taxonomy-term.section-market-data #page-title {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 0px !important;
    font-size: 24px !important;
}
.page-taxonomy-term.section-market-data #page-title {
  width: 100%;
}

.page-taxonomy-term.section-dashboards .view-dashboards-categories .views-row,
.page-taxonomy-term.section-market-data .view-dashboards-categories .views-row {
    width: 100%;
}

.page-taxonomy-term.section-dashboards .inside.clearfix,
.page-taxonomy-term.section-market-data .inside.clearfix {
    position: relative;
}

.section-dashboards .in-the-news,
.section-market-data .in-the-news {
    z-index: 10;
    border: 1px solid;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
}

.section-dashboards .in-the-news .views-row,
.section-market-data .in-the-news .views-row {
    margin-bottom: 5px;
}

.section-dashboards .pane-tagclouds .more-link,
.section-market-data .pane-tagclouds .more-link {
    display: none;
}

.section-dashboards .pane-tagclouds .tagclouds-term,
.section-market-data .pane-tagclouds .tagclouds-term {
    clear: both;
    display: block;
    margin-bottom: 15px;
}

.section-dashboards .pane-tagclouds,
.section-market-data .pane-tagclouds {
    border: 1px solid;
    padding: 5px;
    width: 100%;
}
.page-taxonomy-term .pane-dashboards-categories {
  float: left;
}
.page-taxonomy-term .pane-page-title {
  float: left;
  margin: 34px 10px;
}
.page-taxonomy-term .pane-dashboards-tabs {
  clear: both;
}
.page-node-add-dashboards .vertical-tabs .form-type-textfield input {
  width: auto;
}
.page-node-add-dashboards .form-textarea-wrapper  {
  width: auto;
}
