/* Just for the example. Fee free to delete these three lines */
body{font-family:Helvetica, sans-serif;}
a{color:white;}
.pikachoose {width: 520px; margin: 0 auto;}
.pika-imgnav {
    opacity: 1 !important;
}
/* Style the thumbnails */
.pika-thumbs{ padding: 0 16px; height: 75px; }
	.pika-thumbs li{ width: 48px; height:38px; margin: 10px 0 0 17px; padding: 0; overflow: hidden;
		float: left; list-style-type: none;padding: 3px; margin: 0 2px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
	.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: middle; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */

.pika-stage {position: relative; background: #fafafa;  padding: 10px 10px 40px 10px; text-align:center; height:250px;}
.pika-stage img{height:100%;}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; 
			color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
	.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(arrows.gif) no-repeat left 45%; 
                  background-position: -58px 0;
                  height: 37px;
                  width: 19px; 
                  top: 328px;
                  left: 3px;
                  cursor:pointer;
                  transition: opacity 0.5s linear 0s;
        }
        .pika-imgnav a.previous:hover{
            background-position: -38px 0;
            transition: opacity 0.5s linear 0s;
        }
	.pika-imgnav a.next {background: url(arrows.gif) no-repeat right 45%;
              height: 37px;
              width: 19px; 
              top: 328px;
              right: 7px;
              cursor:pointer;
              background-position: -19px 0;
              transition: opacity 0.5s linear 0s;
        }
        .pika-imgnav a.next:hover{
            background-position: 0 0;
            transition: opacity 0.5s linear 0s;
        }
	.pika-imgnav a.play {background: url(play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute;}
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{
    position: absolute;
             bottom: -2px;
             left:15px;            
             color: #000000;
    font-size: 12px;
    font-weight: bold;
}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url(loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }
.jcarousel-clip .active .clip {
border: 2px solid #FDAE18;
position: relative;
margin-top: -2px;
}
#pikame .clip{
    height: 37px;    
}
#pikame .clip img{
        opacity: 1!important;
}
