<h2><%= l(:label_invoice_new) %></h2>

<%= labelled_form_for :invoice, @invoice, :url => {:controller => 'invoices',:action => 'create', :project_id => @project}, :html => { :multipart => true, :id => 'invoice_form'} do |f|  %>
  <%= render :partial => 'form', :locals => {:f => f, :invoice => @invoice}  %>
  <%= submit_tag l(:button_save) -%>
<% end -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag :invoices, :plugin => 'redmine_contacts_invoices'  %>
<% end %>