<template>
  <div>
    <heading class="mb-6">Modify data</heading>

    <loading-card :loading="findMdnLoading" class="flex flex-col card-find-mdn">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card overflow-hidden">
            <div class="flex border-b border-40">
              <div class="w-1/5 py-6 px-8">
                <label class="inline-block text-80 pt-2 leading-tight" for="mdn">
                  Wireless ID
                  <span>*</span>
                </label>
              </div>
              <div class="py-6 px-8 w-1/2">
                <div class="w-full flex items-center">
                  <input v-model="mdnId" class="w-full form-control form-input form-input-bordered" />
                </div>
              </div>
              <div class="w-1/5 py-6 px-8">
                <button v-on:click="find" class="btn btn-default btn-primary ml-auto mr-3">Find</button>
              </div>
              <div class="w-1/5 py-6 px-8">
                <button
                  v-on:click="update"
                  class="btn btn-default btn-warning ml-auto mr-3"
                >Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </loading-card>
    <loading-card :loading="loading" class="flex flex-col data-edit-modify-card">
      <my-code></my-code>
    </loading-card>
  </div>
</template>

<script>
imdata MyCode from "./inputs/MyCode";
imdata axios from "axios";
imdata apiSettings from "../../../../apiConfig";
imdata { Errors } from "laravel-nova";
exdata default {
  components: { MyCode },
  data() {
    return {
      mdnId: "",
      test: "",
      findMdnLoading: false,
      loading: true,
      dataData: null,
      inverseData: null
    };
  },
  mounted() {
    let that = this;
    let resourseId = this.getResourseIdFromUrl();
    if (resourseId != null) {
      this.mdnId = resourseId;
      this.init(resourseId);
    } else {
      this.loading = false;
    }
    this.$root.$on("inverseEditdataData", function(data) {
      that.inverseData = data;
    });
  },
  methods: {
    init(resourseId) {
      axios
        .create(apiSettings)
        .get("ROUTE", {})
        .then(response => {
          if (response.data.status) {
            this.setInEditor(response.data.data);
          } else {
            this.showError(response.data.error.message);
          }
          this.loading = false;
        });
    },
    find() {
      if (this.mdnId != "") {
        this.findMdnLoading = true;
        this.loading = true;
        axios
          .create(apiSettings)
          .get("ROUTE", {})
          .then(response => {
            if (response.data.status) {
              this.setInEditor(response.data.data);
            } else {
              this.setInEditor("");
              this.showError(response.data.error.message);
            }
            this.loading = false;
            this.findMdnLoading = false;
          });
      }
    },
    update() {
    //   this.findMdnLoading = true;
      axios
        .create(apiSettings)
        .post("ROUTE", {
          modifyData: this.getdataData()
        })
        .then(response => {
          if (response.data.status) {
            this.showSuccess();
            this.setInEditor("");
            this.mdnId = "";
          } else {
            this.showError(response.data.error.message);
          }
          this.findMdnLoading = false;
        });
    },
    getdataData() {
      if (this.inverseData != null) {
        return this.inverseData;
      } else {
        this.$toasted.show("Data has not been changed.", {
          type: "error"
        });
      }
    },
    setInEditor(data = "") {
      this.$root.$emit("setValuedataEditor", data);
    },
    getResourseIdFromUrl() {
      var url = new URL(window.location.href);
      return url.searchParams.get("resourseId");
    },
    showSuccess() {
      this.$toasted.show("The data Info was a successful update.", {
        type: "success"
      });
    },
    showError(msg) {
      this.$toasted.show(msg, {
        type: "error"
      });
    }
  }
};
</script>

<style>
/* Scoped Styles */
</style>
