<template>
    <!-- Customer Form -->
    <div class="customer-form-screen">
        <div v-if="hasDetailedProblem" class="dialog-wrapper dialog-block dialog-notification-error">
            <span class="title">Please take attention</span>
            <p>{{detailedProblem}}</p>
        </div>
        <form v-on:submit.prevent="submitCreateCustomerForm">
            <div class="dialog-wrapper settings-block payment-block">
                <div class="dialog-wrapper">
                    <div class="dialog form-section customer-section">
                        <h3>Account Information</h3>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>First Name</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.firstname" v-validate="'required'" :disabled="requestLoading" type="text" name="first-name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>Last Name</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.lastname" v-validate="'required'" :disabled="requestLoading" type="text" name="last-name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper">
                                <label>Address 1</label>
                                <div class="pwd-custom-input">
                                    <suggestions
                                            v-model="customerData.address"
                                            v-validate="'required'"
                                            :options="{ debounce: 1500, placeholder: 'Old Columbiana Rd 35228' }"
                                            :onItemSelected="onSearchItemSelected"
                                            :onInputChange="addressAutocompleteCall">
                                        <div slot="item" slot-scope="props" class="single-item">
                                            <span class="name">{{ props.item.text }}</span>
                                        </div>
                                    </suggestions>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>Address 2</label>
                                <div class="pwd-custom-input">
                                    <input type="text" name="address2" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>City</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.city" v-validate="'required'" :disabled="requestLoading" type="text" name="city" placeholder="Alabama">
                                </div>
                            </div>
                        </div>

                        <div class="form-group half-group">
                            <div class="pwd-custom-input-wrapper half-component light-input">
                                <label>State</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.state" v-validate="'required|min:2'" :disabled="requestLoading" type="text" minlength="2" maxlength="2" name="state" placeholder="AL">
                                </div>
                            </div>

                            <div class="pwd-custom-input-wrapper half-component light-input">
                                <label>Zip</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.zipcode" v-validate="'required|min:2'" :disabled="requestLoading" type="text" name="zip" placeholder="35226">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-select-wrapper">
                                <label>Country</label>
                                <div class="pwd-custom-select min-width-sm">
                                    <v-select v-model="customerData.country" class="small-select" name="country" v-validate="'required'" :disabled="requestLoading" type="text" :options="this.country"></v-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>Email</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.email" v-validate="'required|email'" :disabled="requestLoading" type="email" name="email">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>Phone</label>
                                <div class="pwd-custom-input">
                                    <input v-model="customerData.phone" v-validate="'required'" :disabled="requestLoading" type="text" name="phone">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="dialog-wrapper settings-block payment-block">
                <div class="dialog-wrapper">
                    <div class="dialog form-section customer-section">
                        <h3>Your Device Info</h3>

                        <div class="no_wrap" v-if="!newNumber">
                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>First Name</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.firstname" v-validate="'required|min:2'" :disabled="requestLoading" type="text" name="first-name-extra">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Last Name</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.lastname" v-validate="'required|min:2'" :disabled="requestLoading" type="text" name="last-name-extra">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>City</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.city" v-validate="'required'" :disabled="requestLoading" type="text" name="city-extra" placeholder="Alabama">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group half-group">
                                <div class="pwd-custom-input-wrapper half-component light-input">
                                    <label>State</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.state" v-validate="'required'" :disabled="requestLoading" type="text" minlength="2" maxlength="2" name="state-extra" placeholder="AL">
                                    </div>
                                </div>

                                <div class="pwd-custom-input-wrapper half-component light-input">
                                    <label>Zip</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.zip" v-validate="'required|min:2'" :disabled="requestLoading" type="text" name="zip-extra" placeholder="35228">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Address</label>
                                    <div class="pwd-custom-input">
                                        <suggestions
                                                v-model="portInData.address"
                                                v-validate="'required'"
                                                :options="{ debounce: 1500, placeholder: 'Old Columbiana Rd 35228' }"
                                                :onItemSelected="onSearchItemSelected"
                                                :onInputChange="addressAutocompleteCall">
                                            <div slot="item" slot-scope="props" class="single-item">
                                                <span class="name">{{ props.item.text }}</span>
                                            </div>
                                        </suggestions>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Current Phone Number</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.mdn" v-validate="'required'" :disabled="requestLoading" type="text" name="mdn">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>ESN</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.esn" v-validate="'required|numeric'" :disabled="requestLoading" type="text" name="esn">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Old Carrier Account №</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.oldaccountnumber" v-validate="'required'" :disabled="requestLoading" type="text" name="old-carriernumber">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Old Carrier</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.oldcarrier" v-validate="'required'" :disabled="requestLoading" type="text" name="old-carrier">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Port Password</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.portpassword" v-validate="'required'" :disabled="requestLoading" type="text" name="portpassword">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>ICCID</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.icc" v-validate="'numeric'" :disabled="requestLoading" type="text" name="iccid">
                                        <button class="help-tooltip" type="button" v-tooltip="{content:'You can find your ICCID in the settings menu on your 4G device. ICCID may only be numbers. No letters and special characters allowed.', classes:'info'}">
                                            <img src="../../../../../images/Info.svg" alt="info">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yes_wrap" v-if="newNumber">
                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>ESN</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.esn" v-validate="'required|numeric'" :disabled="true" type="text" name="esn">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>ICCID</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.icc" v-validate="'required|numeric'" :disabled="requestLoading" type="text" name="iccid">
                                        <button class="help-tooltip" type="button" v-tooltip="{content:'You can find your ICCID in the settings menu on your 4G device. ICCID may only be numbers. No letters and special characters allowed.', classes:'info'}">
                                            <img src="../../../../../images/Info.svg" alt="info">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pwd-custom-input-wrapper light-input">
                                    <label>Zip</label>
                                    <div class="pwd-custom-input">
                                        <input v-model="portInData.zip" v-validate="'required|min:2'" :disabled="requestLoading" type="text" name="zip-extra" placeholder="35228">
                                        <button class="help-tooltip" type="button" v-tooltip="{content:'Your Telephone number is generated based on the zip code you enter.', classes:'info'}">
                                            <img src="../../../../../images/Info.svg" alt="info">
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="dialog-wrapper settings-block payment-block">
                <div class="dialog-wrapper">
                    <div class="dialog form-section customer-section">
                        <h3>Payment Information</h3>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>First Name</label>
                                <div class="pwd-custom-input">
                                    <input v-model="cardData.first_name" v-validate="'required'" :disabled="requestLoading" type="text" name="first-name-card">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>Last Name</label>
                                <div class="pwd-custom-input">
                                    <input v-model="cardData.last_name" v-validate="'required'" :disabled="requestLoading" type="text" name="last-name-card">
                                </div>
                            </div>
                        </div>

                        <div class="form-group full-with-input">
                            <div class="pwd-custom-input-wrapper light-input">
                                <label>
                                    Card number
                                </label>
                                <the-mask v-model="cardData.number" v-validate="'required'" :disabled="requestLoading" mask="#### #### #### ####" pattern=".{19,}" title="16 characters minimum" name="number-card" type="tel"></the-mask>
                            </div>
                        </div>
                        <div class="form-group half-group">
                            <div class="pwd-custom-input-wrapper half-component light-input">
                                <label>
                                    Expire date
                                </label>
                                <div class="pwd-custom-input">
                                    <the-mask v-model="cardData.expiry_date" v-validate="'required'" :disabled="requestLoading" mask="##/##" masked type="tel" name="date-card" pattern=".{5,}" title="4 characters minimum" placeholder="MM/YY"></the-mask>
                                </div>
                            </div>
                            <div class="pwd-custom-input-wrapper half-component light-input">
                                <label class="sec_input">
                                    Security Code
                                </label>
                                <div class="pwd-custom-input">
                                    <button class="help-tooltip" type="button" v-tooltip="{content:'Enter 3 digits on the back of the card.', classes:'info'}">
                                        <img src="../../../../../images/Info.svg" alt="info">
                                    </button>
                                    <the-mask v-model="cardData.cvv" v-validate="'required|digits:3'" :disabled="requestLoading" mask="###" name="cvv-card" pattern=".{3,}" title="3 characters minimum" type="tel"></the-mask>
                                </div>
                            </div>
                        </div>
                        <div class="form-group full-with-input terms-wrapper">
                            <label>
                                <input v-validate="'required'" :disabled="requestLoading" type="checkbox">
                                I agree with the&nbsp;<a href="#">Terms&nbsp;&amp;&nbsp;Conditions</a>
                            </label>
                        </div>

                        <div class="form-group text-center">
                            <button v-validate="'required'" :disabled="requestLoading" class="btn btn-secondary active w-100" :class="{'load': requestLoading}" type="submit">{{ requestLoading ? 'Loading' : 'Process Payment & Activate Device' }}</button>
                        </div>

                        <div class="card-payments">
                            <img class="card-payments-image" src="../../../../../images/card-payments.png">
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="hasDetailedProblem" class="dialog-wrapper dialog-block dialog-notification-error">
                <span class="title">Please take attention</span>
                <p>{{ detailedProblem }}</p>
            </div>
        </form>
    </div>
</template>

<script>
    import Client from '../../../../modules/http-custom';

    export default {
        data() {
            return {
                addressQuery: '',
                address: '',
                detailedProblem: 'Please, check fields and try again.',
                hasDetailedProblem: false,
                requestLoading: false,
                customerData: {
                    firstname: '',
                    lastname: '',
                    fullname: '',
                    country: 'United States',
                    state: '',
                    city: '',
                    address: '',
                    zip: '',
                    email: '',
                    phone: ''
                },
                portInData: {
                    firstname: '',
                    lastname: '',
                    city: '',
                    state: '',
                    address: '',
                    zip: '',
                    mdn: '',
                    esn: '',
                    icc: '',
                    oldaccountnumber: '',
                    oldcarrier: '',
                    portpassword: ''
                },
                cardData: {
                    expiry_date: '',
                    first_name: '',
                    last_name: '',
                    number: '',
                    cvv: ''
                },
            }
        },
        methods: {
            onSearchItemSelected(item) {
                this.customerData.address = item.text
            },

            submitCreateCustomerForm() {
                if (this.newNumber) {
                    this.activation(false);
                } else {
                    this.activation(true);
                }
            },

            activation: function (isPort) {
                let data = {
                    first_name: this.customerData.firstname,
                    last_name: this.customerData.lastname,
                    zip: this.customerData.zipcode,
                    country: this.customerData.country,
                    state: this.customerData.state,
                    city: this.customerData.city,
                    address: this.customerData.address,
                    portin: {
                        first_name: this.portInData.firstname,
                        last_name: this.portInData.lastname,
                        zip: this.portInData.zip,
                        state: this.portInData.state,
                        city: this.portInData.city,
                        address: this.portInData.address,
                    },
                    imei: this.portInData.esn,
                    iccid: this.portInData.icc,
                    plan_id: this.selectedPlan.id || 0,
                    phone: this.customerData.phone,
                    card: {
                        first_name: this.cardData.first_name,
                        last_name: this.cardData.last_name,
                        number: this.cardData.number,
                        expiry_month: this.cardData.expiry_date.split('/')[0],
                        expiry_year: this.cardData.expiry_date.split('/')[1],
                        cvv: this.cardData.cvv,
                    }
                };

                let subscriptionData = {
                    wireless_id: null,
                    customer: {
                        first_name: data.first_name,
                        last_name: data.last_name,
                        phone: data.phone,
                    },
                    card: data.card,
                };

                if (isPort) {
                    data.old_phone = this.portInData.mdn;
                    data.old_account_number = this.portInData.oldaccountnumber;
                    data.old_first_name = this.portInData.firstname;
                    data.old_last_name = this.portInData.lastname;
                    data.old_password = this.portInData.portpassword;
                }

                const baseEndpoint = `network/${this.$root.rootUserNetwork}/wireless`;

                this.requestLoading = true;
                if (isPort) {
                    Client.call(`${ baseEndpoint }/portin/eligible`, {}, 'post', {
                        phone: this.customerData.phone,
                        zip: this.customerData.zipcode,
                    })
                        .then(response => {
                            if (response.data.status) {
                                this.requestLoading = false;
                                data.area_id = response.data.data.area;

                                if (response.data.data.eligible == 'true') {
                                    Client.call(`${ baseEndpoint }/portin`, {}, 'post', data)
                                        .then(responsePartin => {
                                            if (responsePartin.data.status) {
                                                this.requestLoading = false;
                                                if (responsePartin.data.data.id) {
                                                    const wirelessId = responsePartin.data.data.id || null;
                                                    this.addSubscription(wirelessId, subscriptionData);
                                                }
                                                window.location.reload();
                                            } else {
                                                this.requestLoading = false;
                                                this.processError(responsePartin);
                                                throw new Error(responsePartin.data.message);
                                            }
                                        })
                                        .catch(error => {
                                            this.requestLoading = false;
                                            this.errorHandler(error);
                                        })
                                } else {
                                    this.$root.eventHub.$emit('showNotify', {
                                        group: 'error',
                                        title: 'Error',
                                        text: 'Provided info is not eligible'
                                    });
                                }
                            } else {
                                this.requestLoading = false;
                                throw new Error(response.data.message);
                            }
                        })
                        .catch(error => {
                            this.requestLoading = false;
                            this.errorHandler(error);
                        })
                } else {
                    Client.call(`${ baseEndpoint }/activation`, {}, 'post', data)
                        .then(response => {
                            if (response.data.status) {
                                this.requestLoading = false;
                                if (response.data.data.id) {
                                    const wirelessId = response.data.data.id || null;
                                    this.addSubscription(wirelessId, subscriptionData);
                                }
                            } else {
                                this.requestLoading = false;
                                this.processError(response);
                                throw new Error(response.data.message);
                            }
                        })
                        .catch(error => {
                            this.requestLoading = false;
                            this.errorHandler(error);
                        })
                }
            },

            addSubscription(wirelessId, data) {
                this.requestLoading = true;
                Client.call('ROUTE', {}, 'post', data)
                    .then(response => {
                        document.location.reload();
                    })
                    .catch(error => {
                        this.errorHandler(error);
                    })
                    .finally(() => {
                        this.requestLoading = true;
                    });
            },

            processError(response) {
                if (response.data.errors) {
                    for (let key in response.data.errors) {
                        this.$root.eventHub.$emit('showNotify', {
                            group: 'error',
                            title: `Error in ${key} field`,
                            text: response.data.errors[key][0] || 'Unknown error'
                        });
                    }
                } else if (response.data.error) {
                    this.$root.eventHub.$emit('showNotify', {
                        group: 'error',
                        title: 'Error',
                        text: response.data.error.message || 'Unknown error'
                    });
                } else {
                    this.$root.eventHub.$emit('showNotify', {
                        group: 'error',
                        title: 'Error',
                        text: 'Unknown error'
                    });
                }
            },

            activatePlan(wireless) {
                this.requestLoading = true;
                Client.call(`network/${this.currentUserNetwork}/activate_autopay_plan`, {}, 'post', {
                    wireless_id: wireless.id
                })
                    .then(response => {
                        if (response.data.status) {
                            this.requestLoading = false;
                            window.location.reload();
                        } else {
                            throw new Error(response.data.message);
                        }
                    })
                    .catch(error => {
                        this.requestLoading = false;
                        this.errorHandler(error);
                    })
            },

            addressAutocompleteCall(query) {
                if (query.trim().length === 0) {
                    return null
                }

                return new Promise(resolve => {
                    Client.call('services/address/autocomplete', {}, 'post', {
                        address: query,
                        state: this.customerData.state,
                        city: this.customerData.city,
                    })
                        .then(
                            response => {
                                if (response.data.data) {
                                    resolve(response.data.data);
                                }
                            }
                        )
                });
            }
        },
        mounted() {
            let _this = this;

            this.$root.eventHub.$on('requestLoadingChanged', function (value) {
                _this.requestLoading = value;
            });

            this.$root.eventHub.$on('detailedProblemChanged', function (value) {
                _this.hasDetailedProblem = value.hasProblem;
                _this.detailedProblem = value.message;
            });

            this.portInData.esn = this.esn;
        },
        watch: {
            portInData: function () {
                this.$root.eventHub.$emit('portInDataChanged', this.portInData);
            },
            cardData: function () {
                this.$root.eventHub.$emit('cardDataChanged', this.cardData);
            },
            address: function () {
                this.addressAutocompleteCall();
            }
        },
        props: ['esn', 'selectedPlan', 'newNumber', 'country', 'initCardData', 'initPortInData', 'initCustomerData'],
        inject: ['errorHandler'],

    }
</script>
