#views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper,
#views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper,
#views-exposed-form-aro-search-aro-search-page #edit-field-author-lname-value-wrapper {
	display: inline-block;
	padding: 0;
	margin: 15px auto;
	height: 100%;
}

#views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper label,
#views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper label,
#views-exposed-form-aro-search-aro-search-page #edit-field-author-lname-value-wrapper label {
	display: inline-block;
	float: left;
	font-size: 14px;
	padding: 4px;
}

#views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper .views-widget,
#views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper .views-widget,
.page-aro #views-exposed-form-aro-search-aro-search-page #edit-field-author-lname-value-wrapper .views-widget {
	float: left;
	margin: 0px 15px;
}

.section-aro-search-author-company #views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper .views-widget,
.section-aro-search-author-last-name #views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper .views-widget {
  margin: 0px 15px 0px 0px;
}

#views-exposed-form-ARO-aro-company-search-page .views-submit-button,
#views-exposed-form-ARO-aro-last-name-search-page .views-submit-button,
#views-exposed-form-aro-search-aro-search-page .views-submit-button {
	display: inline-block !important;
	float: left !important;
	padding: 0 !important;
}

.pane-aro-terms .views-row {
  width: 33%;
  float: left;
}

.bootstrap-anchors-processed .pane-aro-terms .views-row {
    width: 50%;
}

#views-exposed-form-ARO-aro-company-search-page .views-submit-button #edit-submit-aro,
#views-exposed-form-ARO-aro-last-name-search-page .views-submit-button #edit-submit-aro,
#views-exposed-form-aro-search-aro-search-page .views-submit-button #edit-submit-aro-search {
	margin: 15px 0 !important;
}

.pane-block-152 {
	font-size: 12px !important;
}

.pane-block-152 span {
	font-size: 12px !important;
}

.view-aro-terms .panel-2col .panel-col-first {
	width: 100%;
}

.page-aro-search-author-company .pane-block,
.page-aro-search-author-last-name .pane-block {
	border-top: 1px solid;
        font-size: 14px;
}

.aro-page-title {
  border-bottom: 1px solid;
  font-size: 22px;
  color: #20749F;
  text-transform: uppercase;
}

.aro-page-title h1 {
    margin: 0px;
}

#views-exposed-form-ARO-aro-company-search-page .views-row,
#views-exposed-form-ARO-aro-last-name-search-page .views-row {
  padding-bottom: 10px;
}

.aro-category-sidebar-title,
.pane-aro-perspectives .pane-title,
.pane-aro .pane-title,
.pane-commentary-latest-commentary-pane .pane-title,
.pane-commentary-more-commentary-pane .pane-title,
.pane-latest-news-latest-news-expanded-no-special-pane .pane-title,
.pane-aro-aro-latest-news-expanded-no-special-pane .pane-title,
.pane-aro-aro-last-special-coverage-pane .pane-title,
.pane-aro-aro-more-commentary-pane .pane-title,
.aro-term-page .center-left .pane-block .pane-title,
.aro-term-page.bootstrap-anchors-processed .region-content .pane-block .pane-title {
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
  border-top: solid 3px #676465;
  border-bottom: solid 1px #676465;
  width: 100%;
  display: block;
  overflow: hidden;
}

.pane-commentary-latest-commentary-pane .pane-content {
  overflow: hidden;
}

.pane-aro-perspectives,
.pane-aro,
.aro-term-page .center-left .pane-block .pane-content,
.aro-term-page.bootstrap-anchors-processed .region-content .pane-block .pane-content {
  margin-bottom: 20px;
  font-size: 14px;
}

.aro-term-page .pane-aro .views-field {
    margin-bottom: 3px;
}

.aro-term-page .pane-aro .views-field-field-aro-author {
    margin-bottom: 15px;
}

.aro-term-page .pane-aro .views-field-field-aro-author .field-content {
    font-weight: bold;
    display: inline-block;
}

.aro-term-page .pane-aro .views-row {
    margin-bottom: 20px;
}

.aro-term-page .pane-aro .views-row .views-field-body {
    margin-bottom: 20px;
    margin-top: 20px;
}

.aro-term-page.bootstrap-anchors-processed .pane-aro,
.aro-term-page.bootstrap-anchors-processed .pane-aro .views-field-field-aro-author {
    margin-bottom: 3px;
}

.aro-category-sidebar-comments a,
.aro-category-sidebar-archive a,
.aro-term-page .center-left .pane-block a,
.aro-term-page.bootstrap-anchors-processed .region-content .pane-block a {
  display: block;
  width: 100%;
}

.pane-block-155,
.pane-block-156 {
  width: 300px;
  height: 250px;
  background-color: #91A7E8;
}

.view-aro-search .views-field {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.view-aro-search .views-row {
  clear: both;
}

.pane-aro-aro-last-special-coverage-pane,
.pane-aro-aro-latest-news-expanded-no-special-pane,
.pane-aro-aro-more-commentary-pane {
  padding-bottom: 25px;
}

.pane-aro-aro-last-special-coverage-pane .pane-title,
.pane-aro-aro-latest-news-expanded-no-special-pane .pane-title,
.pane-aro-aro-more-commentary-pane .pane-title {
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
  border-top: solid 3px #676465;
  border-bottom: solid 1px #676465;
}

.pane-aro-aro-last-special-coverage-pane .pane-title a,
.pane-aro-aro-latest-news-expanded-no-special-pane .pane-title a,
.pane-aro-aro-more-commentary-pane .pane-title a {
  color: #13506f;
  text-decoration: none;
}

.pane-aro-aro-last-special-coverage-pane .pane-title a:hover,
.pane-aro-aro-latest-news-expanded-no-special-pane a:hover,
.pane-aro-aro-more-commentary-pane a:hover {
  text-decoration: underline;
}

.pane-aro-aro-last-special-coverage-pane .views-row,
.pane-aro-aro-latest-news-expanded-no-special-pane .views-row,
.pane-aro-aro-more-commentary-pane .views-row {
  padding-bottom: 8px;
}

.pane-aro-aro-latest-news-expanded-no-special-pane .views-field-field-feature-image,
.pane-aro-aro-more-commentary-pane .views-field-field-feature-image,
.pane-aro-aro-last-special-coverage-pane .views-field-field-feature-image,
.view-display-id-aro_latest_news_expanded_no_special_pane .views-field-field-aro-photo,
.view-display-id-aro_more_commentary_pane .views-field-field-aro-photo {
  float: left;
  margin-bottom: 20px;
}

.pane-aro-aro-latest-news-expanded-no-special-pane .views-field-title,
.pane-aro-aro-more-commentary-pane .views-field-title,
.pane-aro-aro-last-special-coverage-pane .views-field-title {
  margin: 0px;
  font-size: 24px;
}

.pane-aro-aro-latest-news-expanded-no-special-pane .views-field-title h3,
.pane-aro-aro-last-special-coverage-pane .views-field-title h3 {
  padding: 0px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.field-name-field-aro-photo .field-item {
  float: right;
  width: 185px;
  height: 245px;
  overflow: hidden;
  margin: 5px 0 5px 20px;
  position: relative;
}

.bootstrap-anchors-processed .field-name-field-aro-photo .field-item {
    width: 100px;
    height: 133px;
}

.field-name-field-aro-photo .field-item img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .view-content .views-row,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .view-content .views-row {
  overflow: hidden;
  padding-top: 18px;
}

.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .view-content .views-field-field-feature-image,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .view-content .views-field-field-feature-image {
  float: left;
  width: 100px;
}

.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .view-content .views-field-title,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .view-content .views-field-title,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .view-content .views-field-body,
.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .views-field-body,
.page-taxonomy-term .pane-aro-aro-last-special-coverage-pane .views-field-body {
  font-size: 14px !important;
  padding-bottom: 5px;
}

.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .views-field-view-node,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .views-field-view-node,
.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .views-field-body,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .views-field-field-byline,
.page-taxonomy-term .pane-aro-aro-latest-news-expanded-no-special-pane .views-field-title,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .views-field-title,
.page-taxonomy-term .pane-aro-aro-more-commentary-pane .view-content .views-field-body {
  margin-left: 100px;  
}

.center-right .pane-news-news-listing-pane {
  margin-bottom: 25px;
}

.center-right .pane-news-news-listing-pane .pane-title {
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  line-height: 25px;
  margin-bottom: 15px;
  border-top: solid 3px #676465;
  border-bottom: solid 1px #676465;
}

.center-right .pane-news-news-listing-pane .pane-title a {
  color: #13506f;
  text-decoration: none;
}

.center-right .pane-news-news-listing-pane .pane-title a:hover {
  text-decoration: underline;
}

.center-right .pane-news-news-listing-pane .views-row {
  margin-bottom: 15px;
}

.center-right .pane-news-news-listing-pane .views-row .views-field-field-feature-image {
  float: left;
  width: 86px;
}

.center-right .pane-news-news-listing-pane .views-row .views-field-title {
  font-size: 13px;
  display: inline;
}

.center-right .pane-news-news-listing-pane .views-row .views-field-taxonomy-vocabulary-1 {
  display: inline;
}

.center-right .pane-news-news-listing-pane .views-row .views-field-taxonomy-vocabulary-1 a {
  color: #636466;
  font-size: 11px;
  font-weight: normal;
}

.center-right .pane-news-news-listing-pane .views-row .views-field-taxonomy-vocabulary-1 a:hover {
  text-decoration: underline;
}

.section-aro-search-author-company #views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper label,
.section-aro-search-author-last-name #views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper label {
  display: none !important;
}

.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}

.section-aro .pane-node .submitted,
.node-type-article.section-aro .pane-node .submitted {
  margin-top: -10px !important;
  margin-bottom: 50px !important;
  display: none !important;
}

.aro-perspective .pane-node .submitted,
.node-type-article.section-aro .pane-node .submitted {
  display: block !important;
}

.section-aro .inside.clearfix {
    position: relative;
}

.aro-perspective.admin-menu .aro-field-deck {
    top: 95px;
}

.aro-perspective .aro-field-deck,
.node-type-article.section-aro .aro-field-deck {
  position: absolute;
  top: 95px;
}

.not-logged-in.node-type-article.section-aro .pane-node {
  margin-top: 90px;
}

.section-aro .center-left {
    width: 260px !important;
}

.pane-node-field-author-fname,
.pane-node-field-author-lname,
.pane-node-field-aro-company,
.pane-node-field-byline {
  float: left;
  margin-right: 5px;
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1em;
}

.page-node.section-aro .aro-field-deck,
.page-node .aro-field-deck {
  clear: left;
  font-size: 14px;
  line-height: 22px;
}

.view-display-id-aro_landing_page_perspectives_block a {
  font-weight: 500 !important;
  text-decoration: underline !important;
}

.page-aro .main {
  margin-left: auto;
  margin-right: auto;
  width: 86.45%;
  padding-left: 2.275%;
  padding-right: 2.275%;
  clear: none;
  float: none;
}
.page-aro .views-row{
  padding-top:5%;
  margin: auto 0;
}
.page-aro .views-row img {
  width: 70%;
  height: 70%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}


.view-aro-terms .panel-2col {
	float: left !important;
	text-align: center !important;
}

.section-aro .field-name-body {
    font-size: 1.2em !important;
    letter-spacing: 0 !important;
    line-height: 1.8em !important;
}

.aro-term-page.bootstrap-anchors-processed .pane-aro-aro-last-special-coverage-pane .views-field-field-feature-image {
    float: none !important; 
}

.aro-term-page.bootstrap-anchors-processed .view .views-field {
    width: 100%;
    clear: both;
    margin-left: 0; 
}

.bootstrap-anchors-processed.aro-perspective .aro-field-deck {
    top: 30px;
}

.bootstrap-anchors-processed.node-type-reviews .panel-panel > div,
.bootstrap-anchors-processed.aro-perspective .panel-panel > div {
    position: relative;
}

.bootstrap-anchors-processed.node-type-reviews .pane-node .content {
    padding-top: 40px;
}

.not-logged-in.bootstrap-anchors-processed.node-type-reviews .pane-node .content {
    padding-top: 75px;
}

.not-logged-in.bootstrap-anchors-processed .aro-field-deck {
    top: 30px;
    position: absolute;
}

.not-logged-in.bootstrap-anchors-processed .node-reviews > h2 {
    display: none;
}

.aro-term-page.bootstrap-anchors-processed img {
    max-width: 100%;
    height: auto;
}

.bootstrap-anchors-processed #views-exposed-form-ARO-aro-company-search-page #edit-field-aro-company-value-wrapper .views-widget,
.bootstrap-anchors-processed #views-exposed-form-ARO-aro-last-name-search-page #edit-field-author-lname-value-wrapper .views-widget,
.bootstrap-anchors-processed .page-aro #views-exposed-form-aro-search-aro-search-page #edit-field-author-lname-value-wrapper .views-widget {
	margin: 0px;
        margin-right: 10px;
}

.pane-commentary-commentary-pane .view .view-content .views-field-field-aro-photo {
float: right;
margin-left: 20px;
width: 75px;
}

.view-display-id-latest_commentary_pane .views-field-field-aro-photo {
float: right;
padding: 0 0 0 20px;
}
