.agentDetailContent label{
    display: inline;
}
.page-agent-detail {
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    width: 987px;
}
.agentDetailContent {
    background-clip: padding-box;
    background-color: #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px 15px;
    position: relative;
    width: 947px;
}
#tabs-3 .agentDetailContent{
    width: 987px; 
}
.agentDetailContent .details-container {
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    overflow: auto;
    padding: 0 10px 5px;
}
.agentDetailContent .details-container h2{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.agentDetailContent .details-agent{
    overflow: auto;
}
.agentDetailContent .agent-content .video{
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 425px;
    margin-bottom: 10px;
    padding: 5px 20px;
    width: 425px;
}
.agentDetailContent .agent-content .contact-column{
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 2px solid #5982A2;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-bottom: 8px;
    margin-left: 10px;
    min-height: 432px;
    width: 466px;
}

.agentDetailContent  .contact-column h2 {
    color: black;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0 0 19px;
    padding: 0;
}
.agentDetailContent  .contact-column h2 span{
    font-weight: lighter;
}
.agentDetailContent  .contact-column .photo{
    background-color: burlywood;
    float: left;
    height: 100px;
    margin: 0 15px 25px 20px;
    width: 80px;
    overflow: auto;
}
.agentDetailContent  .contact-column .contact-info div{
    margin: 3px 0;
}
#tabs-3 .agentDetailContent{
    padding: 0;
}
.agentDetailContent .buero span,
.details-container .properties,
.details-container .office
{
    color: #4D6B95;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#tabs-1 .agentDetailContent .buero span:after,
#tabs-1 .details-container .properties:after,
#tabs-1 .details-container .office:after{
    content:url(images/btn-orangearrow.png);
}
.details-container div {
    margin-bottom: 3px;
}
.agentDetailContent .detail-sub-container{
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    min-height: 33px;
}
.agentDetailContent .agent-content{
    overflow: auto;
}

.agentDetailContent .detail-sub-container .share a{
    color: #30517F;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.agentDetailContent .detail-sub-container .share a:hover{
    color: #CF7C0C;
    transition: all 0.3s ease-out 0s;
}
.agentDetailContent .detail-sub-container .share a:before{
    color: #CF7C0C;
    content: "+";
    left: -3px;
    position: relative;
    top: -1px;
}

.agentDetailContent .detail-sub-container .properties{
    color: #30517F;
    font-family: 'Ubuntu',sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
    cursor: pointer;
}
.agentDetailContent .detail-sub-container .properties:hover{
    color: #CF7C0C;
    transition: all 0.3s ease-out 0s;
}
.agentDetailContent .detail-sub-container .properties:before{
    color: #CF7C0C;
    content: url(images/icon-goldarrow.png);
    left: -3px;
    position: relative;
    top: -1px;
    display: inline;
}

.agentDetailContent .detail-sub-container div{
    margin-left: 30px;
    margin-top: 8px;
    display: inline;
}
.agentDetailContent .details-container .min-info
{
    background-color: #F0F0F0;
    border: 1px solid #D4D4D4;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #CCCCCC;
    margin-top: 15px;
    padding: 8px;
    width: 410px;
    overflow: auto;

}
.agentDetailContent .details-container .min-info .photo{
    width: 68px;
    height: 80px;
    background-color: yellowgreen;
    float: left;
    margin-right: 5px;
}
#tabs-3 .agentDetailContent .details-container{
    margin: 10px 15px;
}
#tabs-3 .search-page #topWrapper .pager-top span{
    float: none;
}
#tabs-3 .search-page #topWrapper{
    background: #E1E1E1;
    border: 0;
    height: 22px;
    border-radius: 0 0 0 0;
    clear: both;
    padding-top: 30px;
}
#tabs-3 .search-page .results{
    /*    margin:  0;*/
    float: left;
    font-size: 13px !important;
    padding: 0;
    margin-right: 37px;
}
#tabs-3 .search-page .property-list {
    border-radius: 0;
}
#tabs-3 .search-page .view-filters{
    float: left;
    font-size: 13px;
    padding: 0;
    width: 200px;
    height: 22px;
}
#tabs-3 .search-page .view-filters span{
    float: left;
}
#tabs-3 .search-page .view-filters form{
    display: inline;
}
#tabs-3 .search-page .item-list .pager {
    margin: auto;
    text-align: right;
    width: 365px;
}
#tabs-3 .search-page .pager-top,
#tabs-3 .search-page .pager-bottom{
    float: right;
}
#tabs-3 .search-page .pager-bottom{
    margin-bottom: 20px;
}
#tabs-3 .search-page .property-list .top{
    height: 5px;
}
#tabs.ui-widget-content {
    width: 987px!important;
}
#tabs-3 .pager-top li.pager-next a,
#tabs-3 .pager-top li.pager-previous a{
    color: #4A6797;
}
#tabs-3 .agentDetailContent{
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
}
#tabs-3 .search-page{
    margin: 0;      
}
#tabs-3 .search-page .property-list{
    margin: 0;   
    width: 987px;
}
.ui-widget{
    font-family: sans-serif!important;
}
div#agentListings {
    background-color: #BAD3F2;
    color: black;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
div#agentListingsArrow {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #BAD3F2;
    height: 0;
    margin-bottom: 12px;
    margin-left: 37px;
    width: 0;
}
.description-agent
{
    background-clip: padding-box;
    background-color: white;
    border: 1px solid #B5B5B5;
    border-radius: 5px 5px 5px 5px;
    min-height: 100%;
    overflow: auto;
    margin-bottom: 10px;
}
.description-agent .detail-title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 5px 12px;
}
.description-agent p {
    margin-left: 10px;
}
#tabs-2 .agentDetailContent .office-image{
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 415px;
    height: 300px
}
#tabs-2 .agentDetailContent .office-info{
   margin-top: 10px; 
}

#tabs-2 .website-url:after{
    content: url("http://edge.coldwellbanker.com/images/global/icon-goldarrow.png");
    position: absolute;
    right: -9px;
    top: 0;
    z-index: 0;
}
#tabs-2 .website-url{
     color: #CF7C0C;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.details-container .links {
    margin-top: 8px;
}
.details-container .links span{
    margin-right: 20px;
}
.details-container .office-info .office span,
.details-container .min-info .office {
    cursor: default;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.min-info .contact
{
    color: #FFFFFF;  
    float: right;
    background: linear-gradient(to bottom, #FEC129, #EF9800) repeat scroll 0 0 #F7AD15;
    border: 1px solid #DC9B4A;
    border-radius: 3px 3px 3px 3px;
    margin-right: 10px;
    margin-top: 3px;
    margin-top: -30px;
    background-color: rgb(247, 173, 21); 
}
.min-info .contact a{  
    color: #FFFFFF;    
    font: bold 12px/100% Arial,Helvetica,sans-serif;
    padding: 6px 8px 5px;    
    text-shadow: 0 1px 1px #666666;
    text-decoration: none;
}